<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <%= link_to("Money Bag", root_path , class:"navbar-brand") %>
      </div>
      <% if current_user %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll">
              Logged in as <%= current_user.email %>
            </li>
            <li class="page-scroll">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
                <li class="page-scroll">
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
      <% end %>
  </div>
  <!-- /.container-fluid -->
</nav>